
:root { 
  --primary: #310a90; 
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%); 
  --white: #ffffff; 
  --gradient: linear-gradient(45deg, #72edf2 0%, #5151e5 100%); 
  --headline1: 700 5.9375rem/9.6068754196167rem Poppins; 
  --headline2: 700 3.6875rem/5.96637487411499rem Poppins; 
  --headline3: 700 3rem/4.854000091552734rem Poppins; 
  --headline4: 700 2.125rem/3.4382500648498535rem Poppins; 
  --headline5: 700 1.5rem/2.427000045776367rem Poppins; 
  --body1: 400 1rem/1.6180000305175781rem Poppins; 
  --body2: 400 0.875rem/1.4157500267028809rem Poppins; 
  --button: 700 0.875rem/1.4157500267028809rem Poppins; 
  --caption: 400 0.75rem/1.2135000228881836rem Poppins; 
  
}

body {
  font: var(--body1);
  background: var(--gradient);
}

h1{
  font: var(--headline1);
  color: var(--primary);
  font-size: 50px;
}

h2{
  font: var(--headline2);
  font-size: 30px;
}
.cabecera {
  padding-bottom: 50px;
  padding-top: 30px;
}
.logo{
  font-size: 18px;
}
.botoninicio{
  background: #6610f2;
}
.boton1 {
  padding: auto;
  background: blue;
  color: white;
}
p{
  font: var(--button);
}
li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
.frontend {
  text-align: center;
  padding-top: 120px;
  font-size: 25px;
}
.compartir {
  text-align: center;
  padding-bottom: 150px;
}
.subtitulo {
  margin-top: 100px;
  background: blue;
  color: white;
  padding: 4px 15px;
}
.comentario {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
}
.comentario1 {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 15px;
}
.proyecto {
  background: blue;
  color: white;
  padding: 5px 15px;
}
.codigo {
  border: 3px solid blue;
  color: blue;
  padding: 4px 15px;
}
.cuadro {
  background: linear-gradient(#edffff3d, #0c0e1408);
  border-radius: 15px;
  color:  white;
}
.habla {
  font-size: 40px;
  background: blue;
  color: white;
  text-align: center;
  width: 420px;
}
input {
  width: 420px;
}
textarea {
  width: 420px;
}
.enviar {
  width: 420px;
  color: white;
  background: blue;
}
.textoabajo {
  color: white;
  font-size: 10px;
  text-align: center;
}
.pfinal {
  font-size: 9px;
  color: white;
}
.img {
  background: white;
  margin-left: 10px;
  border: 1px solid blue;
}
.pie {
  padding-top: 50px;
}